@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/chamber-Four-background.jpg");
}

.top-row {
  display: flex;
  height: 80vh;
}

.image-section {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #111;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-section {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.game-section canvas {
  width: 100%;
  height: 100%;
}

.text-box {
  height: 20vh;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.character-name {
  text-transform: uppercase;
  background-color: #808080;
  padding: 5px 10px;
  border-radius: 10px;
  /* margin-bottom: 2px; */
  /* margin-top: 23px; */
  width: fit-content;
}

.character-text {
  font-size: 0.8rem;
  max-width: calc(100% - 60px);
  margin: 0;
}

.text-box {
  height: 20vh;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 15px;
}

.text-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  margin-top: 20px;
}

.text-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  max-width: 90%;
}

.next-button {
  width: 50px;
  height: 25px;
  background-color: #444;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  align-self: center;
}

.fa-arrow-right {
  font-size: 20px;
}

.next-button:hover {
  background-color: #666;
}

.inventory-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  margin-top: 20px;
}

.inventory-title {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  width: 83%;
}

.inventory-slot {
  width: 100%;
  height: 25px;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #888;
}

.inventory-slot img {
  height: 50px;
  width: 50px;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.modal-content {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.close-btn {
  color: red;
  font-weight: bold;
  cursor: pointer;
  float: right;
}